.sign-up {
    background-color:rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 273px;
}

.sign-up__form {
    margin-top: 1rem;
    border: none;
    display: flex;
    flex-direction: column;
    width: 20rem;
    margin:0;
}

.sign-up__title {
    color: rgb(1, 193, 193);
    font-weight: 700;
    font-size: 1.8rem;
    margin-top: 1rem;
}

.sign-up__title-name, 
.sign-up__title-email, 
.sign-up__title-password {
    margin-right: .5rem;
}

.sign-up__name, 
.sign-up__email, 
.sign-up__password {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(154, 157, 157);
}

.sign-up__field {
    flex: 0 1 70%;
    padding: .4rem .4rem;
    font-size: .9rem;  
    color: #333; 
    border:1px solid #ededed;
}

.sign-up__field::placeholder {
    font-size: .8rem;
    padding-left: 4px;
    color:#999;
}

.sign-up__field-email:invalid{
    border:1px solid rgb(250, 89, 111);

}

.sign-up__btn, .guest_btn {
    font-size: .8rem;
    width: 10rem;
    padding:1.2rem .5rem;
    background-color:rgb(55, 212, 204);
    cursor: pointer;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 1rem;
    transition: .3s ease-out all;
}

.guest_btn {
    background-color:rgb(66, 151, 255);
}

.sign-up__btn:hover {
    background-color:rgb(1, 238, 215);
}

.guest_btn:hover {
    background-color:rgb(45, 189, 255);
}

.cta-box {
    display: flex;
    justify-content: space-between;
    width: 328px;
}

.sign-up__extra-btn {
    padding: .5rem .2rem;
    color: rgb(55, 184, 212);
    font-weight: 600;
    font-size: .9rem;
    text-decoration: none;
    border-bottom: 1px solid rgb(55, 184, 212);
    transform: translateY(0);
    transition: .3s ease-out all;
}

.sign-up__extra-btn:hover, 
.sign-in__extra-btn:hover {
    transform: translateY(-4px);
}

@-webkit-keyframes flash {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

.no-show-check-message {
    visibility: hidden;
    padding: .5rem .2rem;
    color: rgb(250, 89, 111);
    font-weight: 600;
    font-size: .9rem;
}

.show-check-message {
    visibility: visible;
    
    animation-name: flash;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
