.sign-up {
    background-color:rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        width: 273px;
}

.sign-up__form {
    margin-top: 1rem;
    border: none;
    display: flex;
    flex-direction: column;
}



.sign-up__name, .sign-up__email, .sign-up__password {
    display: flex;
    justify-content: space-between;
    color: rgb(154, 157, 157);
}

.sign-up__field {
    flex: 1 1 50%;
}

.sign-up__title {
    color: rgb(1, 193, 193);
    font-weight: 700;
    font-size: 1.8rem;
    margin-top: 1rem;
}

.sign-up__title-name, .sign-up__title-email, .sign-up__title-password {
    margin-right: .5rem;
}



.sign-up__title {
    color: rgb(1, 193, 193);
    font-weight: 700;
    font-size: 1.8rem;
    margin-top: 1rem;
}

.sign-up__btn {
    padding:1rem 3rem;
    background-color:aquamarine;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    color: rgb(52, 150, 150);
    font-weight: 600;
    margin-bottom: 1rem;
}

.sign-up__extra-btn {
    padding: .5rem .2rem;
    color: rgb(55, 184, 212);
    font-weight: 600;
    font-size: .9rem;
    text-decoration: none;
    border-bottom: 1px solid rgb(55, 184, 212);
}