.sign-in {
    background-color:rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 273px;
}

.sign-in__form {
    margin-top: 1rem;
    border: none;
    display: flex;
    flex-direction: column;
}

.sign-in__email, .sign-in__password {
    display: flex;
    justify-content: space-between;
    color: rgb(154, 157, 157);
}

.sign-in__field {
    flex: 1 1 50%;
}

.sign-in__title {
    color: rgb(1, 193, 193);
    font-weight: 700;
    font-size: 1.8rem;
    margin-top: 1rem;
}

.sign-in__title-email, .sign-in__title-password {
    margin-right: .5rem;
}





.sign-in__btn {
    padding:1rem 3rem;
    background-color:aquamarine;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    color: rgb(52, 150, 150);
    font-weight: 600;
    margin-bottom: 1rem;
}

.sign-in__extra-btn {
    padding: .5rem .2rem;
    color: rgb(55, 184, 212);
    font-weight: 600;
    font-size: .9rem;
    text-decoration: none;
    border-bottom: 1px solid rgb(55, 184, 212);
}

@-webkit-keyframes flash {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

.no-show-check-message {
    visibility: hidden;
}

.show-check-message {
    visibility: visible;
    
    animation-name: flash;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

