.hero {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3rem;
}

.hero__img-box {
    background-color:yellow;
    flex: 0 1 30rem;
}

.hero__img {
    width: 80%;
    height: auto;
}

.hero__form {
    background-color: brown;
} /* 여기 왜 패딩 안먹히는지 모르겠음 */