.logo {
    display: flex;
    align-items: center;
}
/* 
.logo__image {
    background-color: aquamarine;
} */

.logo__icon {
    width:3rem;
    height:3rem;    
}

.logo__title {
    margin-left: 15px;
    font-size: 1.6rem;
    font-weight: 700;
    color: rgb(13, 219, 188);
}