.logo {
    display: flex;
    align-items: center;
}
/* 
.logo__image {
    background-color: aquamarine;
} */

.logo__icon-box {
    margin-right: .7rem;
}

.logo__icon { /* This is image tag */
    width:3rem;
    height:3rem;
}


.logo__title {
    font-size: 1.6rem;
    font-weight: 700;
    color: rgb(13, 219, 188);
}

.logo__title-box {
    display: flex;
}

@media only screen and (max-width: 540px) {
    .logo__title-box {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo__title-face, .logo__title-tector {
        font-size: 1.45rem;
    }
}

