
.auto-url {
    position: fixed;    
    width: 70px;
    height: 50px;
    padding: .5rem;
    line-height: 1.4;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50px;
    color: rgb(102, 235, 217);
    background-color: #fff;
    box-shadow: rgba(23, 124, 172, 0.1) 5px 11.5px 46px;;
    cursor: pointer;
    font-weight: 600;
    font-size: .8rem;
    transition: .3s ease all;
}

.auto-url:hover {
    background-color: rgb(245, 255, 255);
}

.auto-url__text {

}

@media only screen and (max-width: 540px) {
    .auto-url {
        bottom: 0px;
        left: -1px;
        border-radius: 0 8px 8px 0;
        height: 100px;
    }
}

@media only screen and (min-width: 540px) {
    .auto-url {
        top: 380px;
        left: -1px;
        border-radius: 0 8px 8px 0;
        height: 100px;
    }
}

@media only screen and (min-width: 1280px) {
    .auto-url {
        top: 330px;
        left: 20%;
        border-radius: 8px;
        height: 100px;
    }
}