
.auto-url {
    position: relative;     
    width: 70px;
    height: 50px;
    top: 450px;
    right: 35px;
    padding: .5rem;
    line-height: 1.4;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50px;
    color: rgb(102, 235, 217);
    background-color: #fff;
    box-shadow: rgba(23, 124, 172, 0.1) 5px 11.5px 46px;;
    cursor: pointer;
    font-weight: 600;
    font-size: .8rem;
    transition: .3s ease all;
}

.auto-url:hover {
    background-color: rgba(162, 250, 250, 0.3);
}

.auto-url__text {

}

@media only screen and (max-width: 540px) {
    .auto-url {
        position: fixed;
        bottom: 50px;
        left: -1px;
        border-radius: 0 8px 8px 0;
        height: 100px;
    }
    .auto-url__text {

    }
}
