.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 4rem;
    background-color: #ffffff;
    height: 80px;    
    box-shadow: rgba(0, 0, 0, 0.05) 1px 10.5px 46px;
}
