.resultBox {
    /* position:relative; */
}

.center {
    display: flex;
    justify-content: center;
    position: relative;
}

.goRegister {
    position: absolute;
    top:2rem;
    right:3rem;
    display:inline;
    padding: .5rem 1rem;
    color: rgb(255, 137, 218);  
    font-weight: 600;
    font-size: .8rem;
    text-decoration: none;
    border-radius: 50px;
    background-color: rgba(255, 137, 218, 0.15);
    transition: .3s ease all;
    cursor: pointer;
}

.goRegister:hover {
    background-color: rgba(255, 137, 218, 0.3);
}

@media only screen and (max-width: 755px) {
    .goRegister {
        right:1rem;
    }
}

.hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: none;
    color: white;
}



.found-faces {
    visibility: hidden;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center;
    transform: translate(-50%, -50%);
    color: #fff;
    font-weight: 600;
    font-size: 1.6rem;
    background:  #05d4c3;
    padding: .5rem;
    border-radius: 50%;
    z-index: 1;
}

.on-img-loaded {
    visibility: visible;
    animation-name: fadeout;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;

}

.search-result {
    margin-top: 2.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.search-noResult {
    margin-top: 2.5rem;
    font-size: 1rem;
    color: rgb(255, 82, 19);
}

.search-before {
    margin-top: 2.5rem;
    font-size: 1rem;
    color: rgb(19, 192, 255);
}

.search-result__img {
    display: block;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
    color: blue;
    font-size: 1.5rem;
}

.bounding-box {
    position: absolute;
    box-shadow: inset 0 0 0 3px #1ff4e4;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



@-webkit-keyframes fadeout {
    0% {
        transform: scale(1) translate(-50%, -50%);
    }

    20% {
        transform: scale(1.2) translate(-50%, -50%);
    }

    40% {
        transform: scale(1) translate(-50%, -50%);   
    }

    60% {
        top: 50%; 
        transform: scale(1) translate(-50%, -50%);   
        opacity: 1;  
    }

    100% {
        top: 40%; 
        opacity: 0;
    }
}

@keyframes fadeout {
    0% {
        transform: scale(1) translate(-50%, -50%);
    }

    20% {
        transform: scale(1.2) translate(-50%, -50%);
    }

    40% {
        transform: scale(1) translate(-50%, -50%);   
    }

    60% {
        top: 50%; 
        transform: scale(1) translate(-50%, -50%);   
        opacity: 1;  
    }

    100% {
        top: 40%; 
        opacity: 0;
    }
}

svg {
    width: 60px;
    height: 60px;
}