.App {
  text-align: center;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index:-1;
}


.stress {
  color: rgb(55, 184, 212);  
}

@media only screen and (max-width: 755px) {
  .footer {
    margin-top:4rem 0 2rem 0;
  }
}

.header-wrapper {
    max-width: 1200px;   
    margin:0 auto;
    position: relative;
    padding: 0 2rem;
}